@model IEnumerable<QronosProgrammeringsuppgift.Models.Book>

@{
    /**/

    ViewBag.Title = "Book Search";
}
<style>
    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: orange;
        color: black;
    }

    tr:nth-child(even) {
        background-color: #e8e8e8;
    }

    tr:nth-child(odd) {
        background-color: white;
    }
</style>

<body>
    <h2>Welcome to your catalog!</h2>
    <h4>Search for a book below</h4>
    <p>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <b>   Search by: </b>
            @Html.RadioButton("searchByOperator", "Title", true) <text>Title</text>
            @Html.RadioButton("searchByOperator", "Id") <text>Id</text> <br />
            @Html.TextBox("searchParameter") <input type="submit" value="Search" />
        }
    </p>
    <table id="catalog">
        <tr>
            <th>@Html.DisplayNameFor(model => model.id)</th>
            <th>@Html.DisplayNameFor(model => model.title)</th>
            <th>@Html.DisplayNameFor(model => model.author)</th>
            <th>@Html.DisplayNameFor(model => model.genre)</th>
            <th>@Html.DisplayNameFor(model => model.price)</th>
            <th>@Html.DisplayNameFor(model => model.publish_date)</th>
            <th>@Html.DisplayNameFor(model => model.description)</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="7">No rows match search criteria</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.id)</td>
                    <td>@Html.DisplayFor(modelItem => item.title)</td>
                    <td>@Html.DisplayFor(modelItem => item.author)</td>
                    <td>@Html.DisplayFor(modelItem => item.genre)</td>
                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                    <td>@Html.DisplayFor(modelItem => item.publish_date)</td>
                    <td>@Html.DisplayFor(modelItem => item.description)</td>
                </tr>
            }
        }
    </table>>
</body>